fastapi
uvicorn
python-multipart
python-dotenv
langchain
langchain-core
langchain-community
langchain-litellm
scikit-learn
langchain-google-genai
faiss-cpu
langchain-classic
pydantic-ai
youtube_transcript_api