.sidebar{
    min-height: 100vh;
    display:inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f4f9;
    padding: 25px 15px;
}

.sidebar .menu{
    cursor: pointer;
    display:block;
    margin-left: 10px;
}

.sidebar .new-chat{
    margin-top: 50px;
    background-color:#e6eaf1;
    color: grey;
    padding: 10px 15px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    /* justify-content: center; */
    gap: 8px;
    /* font-weight: 500; */
}

.sidebar .recent{
    display: flex;
    flex-direction: column;

}

.sidebar .recent-title{
    margin-top: 30px;
    margin-bottom: 20px;

}

.sidebar .recent-entry{
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 50px;
    cursor: pointer;
    color: #282828;
}

/* .sidebar .recent-entry p{
    max-width: 110px;
    white-space: nowrap;
    overflow: hidden;
} */

.sidebar .recent-entry:hover{
    background-color: #d9e2ea;
    transition: all 0.5s ease-in-out;
}

.sidebar .bottom{
    display: flex;
    flex-direction: column;
}

.sidebar .bottom-item{
    padding-right: 10px;
    cursor: pointer;
}